*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #fff;
  line-height: 1.6;
  overflow-x: hidden;
}

header#showcase div.container{
    width: 95%;
    padding: 0 50px 0 40px;
    overflow: hidden;
    z-index: 20;
}

ul{
    margin: 0;
    padding: 0;
}

header a{
    text-decoration: none;
    color: #ffffff;
    /* text-transform: uppercase; */
    font-size: 17px;
}


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;

}

header #branding h1{
    margin: 0;}

header nav {
    float: right;
    margin-top: 15px;

}

header .current a{
    color: #fff;
    font-weight: lighter;
}

header a:hover {
    color: #333;
    font-weight: bold;
}

header .highlight{
  color: black;
}


#showcase{
  background-image: url('img/showcase.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(90%);
  height: 100vh;
  z-index: -10;
}


div#showcase-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 140px;
  padding: 20px 20px;
  z-index: 20;
  background: rgba(0, 0, 0, 0.4);

}

div#showcase-2 h1{
  font-size: 55px;
  line-height: 1.6;
}

div#showcase-2 p{
  font-size: 20px;
  color: #fff;
}

div#showcase-2 .button{
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  border: #fff 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

div#showcase-2 .button:hover{
  transform: scale(0.9);
  color: #fff;
}



#section-a{
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border: #fff 1px solid
}


#section-b{
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
  color: black;
  border: black 1px solid;
}


#section-c{
  display: flex;
}

#section-c div{
  padding: 20px;
}

#section-c .box-1, #section-c .box-3{
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: #fff 1px solid;
}


#section-c .box-2{
  background: #f9f9f9;
  color: black;
  border: black 1px solid;
}



@media (max-width:560px) {

  div#showcase-2 h1{
    font-size: 40px;
    line-height: 1.2;
  }

  header#showcase div.container{
    width: auto;
  }

  header #branding{
      float: center;

  }

  header #branding h1{
      margin: 0;
      padding-left: 120px;
  }

  header nav {
      float: center;
      margin-top: 15px;
      padding-right: 80px
  }
}



@media (max-width:550px) {
  header nav {
      float: center;
      margin: auto;
      padding: inherit;
  }


  header #branding h1{
      margin: 0;
      padding: auto;
  }
}
